<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
    <!-- 配置Handler
    <bean name="/queryItems.action" class="ssm.controller.ItemsController1" />
    <bean id="itemsController1" class="ssm.controller.ItemsController1" />
    <bean id="itemsController2" class="ssm.controller.ItemsController2" />
     -->    
    
	<!-- 处理器适配器：HandlerAdapter 
		所有处理器适配器都实现HandlerAdapter接口
	-->
	<!-- 2. HttpRequestHandlerAdapter适配器能执行实现了HttpRequestHandler接口的Handler 
	<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />
	-->
	
	<!-- 1. SimpleControllerHandlerAdapter适配器能执行实现了Controller接口的Handler 
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	-->
	
	
	<!-- 配置处理器映射器1:将bean的name作为url进行查找，需要在配置Handler时指定beanname（就是url）
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
	 -->
	
	<!-- 配置处理器映射器2，简单url映射  
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props> -->
				<!-- 对itemsController1进行url映射，url是/queryItems1.action -->
				<!-- 
				<prop key="/queryItems1.action">itemsController1</prop>
				<prop key="/queryItems2.action">itemsController2</prop>
			</props>
		</property>
	</bean>
				 -->
		
	<!-- 
	<bean class="ssm.controller.ItemsController3"/>
	 -->	
	
	<!-- 使用注解的映射器和注解的适配器。（注解的映射器和注解的适配器必须配对使用）-->
	<!-- 配置注解适配器 
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
	-->	
	<!-- 配置注解映射器
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	 -->
	 
	<!-- 使用 mvc:annotation-driven代替上边注解映射器和注解适配器配置
	mvc:annotation-driven默认加载很多的参数绑定方法，比如json转换解析器就默认加载了，
	如果使用mvc:annotation-driven不用配置上边的RequestMappingHandlerMapping和RequestMappingHandlerAdapter
	实际开发时使用mvc:annotation-driven
	 -->
	<mvc:annotation-driven conversion-service="conversionService" 
		validator="validator"></mvc:annotation-driven>
	
	<!-- 也不用配置具体的Controller了，直接使用这个进行扫描包即可，也可以扫描service -->
	<context:component-scan base-package="ssm.controller"></context:component-scan>
	
	<!-- 配置视图解析器 
		进行jsp解析，默认使用jstl标签，classpath下得有jstl的包
	-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" />
	
	<!-- 自定义参数绑定 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 转换器 -->
		<property name="converters">
			<list>
				<!-- 日期类型转换 -->
				<bean class="ssm.controller.converter.CustomDateConverter"/>
			</list>
		</property>
	</bean>
	
	<!-- 配置校验器 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!-- 校验器，使用hibernate校验器 -->
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
		<!-- 指定校验使用的资源文件，在文件中配置校验错误信息，如果不指定则默认使用classpath下面的ValidationMessages.properties文件 -->
		<property name="validationMessageSource" ref="messageSource"/>
	</bean>
	<!-- 校验错误信息配置文件 -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- 资源文件名 -->
		<property name="basenames">
			<list>
				<value>classpath:CustomValidationMessage</value>
			</list>
		</property>
		<!-- 资源文件编码格式 -->
		<property name="fileEncodings" value="utf-8"/>
		<!-- 对资源文件内容缓存时间，单位秒 -->
		<property name="cacheSeconds" value="120"/>
	</bean>
	
	<!-- springmvc提供的简单异常处理器 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="/WEB-INF/jsp/error.jsp"/>
		<property name="exceptionAttribute" value="ex"/>
		<property name="exceptionMappings">
			<props>
				<prop key="ssm.exception.CustomException">/WEB-INF/jsp/custom_error.jsp</prop>
			</props>
		</property>
	</bean>
	
	<!-- 自定义的全局异常处理器
	只要实现HandlerExceptionResolver接口就是全局异常处理器
	<bean class="ssm.exception.CustomExceptionResolver"></bean>
	 -->
	
</beans>